/* what it takes to make line 2: 001011100110100001100101011000010110010001100101011100100010000001111011 */
.header {
  box-shadow: 0px 7.5px 6px 0 rgb(66 66 66 / 39%);
  display: flex;
}

.logo {
  height: 7.67vw;
  margin-right: auto;
}

.profile {
  height: fit-content;
  margin: 3px 1.4px 3px 0px;
  padding: 0;
  border-width: 2px;
  border-color: black;
  font-size: 6vw;
  background: 
    linear-gradient(127deg, rgb(255, 112, 112), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgb(255, 248, 112), rgba(0,0,255,0) 70.71%),
    linear-gradient(90deg, #d5b35e, #d8724a, #d5b35e),
    linear-gradient(180deg,#d5b35e, #d8724a, #d5b35e),
    linear-gradient(223deg, rgb(255, 248, 112), rgb(255, 248, 112), #dfce5b, rgb(255, 248, 112), rgb(255, 248, 112));
}
.profile:active {
  border-width: 0;
  margin: 5px 3.4px 5px 0px;
  background:
    linear-gradient(127deg, rgba(255, 112, 112, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(255, 248, 112, 0.9), rgba(0,0,255,0) 70.71%),
    linear-gradient(90deg, rgba(213, 179, 94, 0.8), rgba(216, 114, 74, 0.8), rgba(213, 179, 94, 0.8)),
    linear-gradient(180deg,rgba(213, 179, 94, 0.8), rgba(216, 114, 74, 0.8), rgba(213, 179, 94, 0.8)),
    linear-gradient(223deg, rgba(255, 248, 112, 0.8), rgba(255, 248, 112, 0.8), rgba(223, 206, 91, 0.8), rgba(255, 248, 112, 0.8), rgba(255, 248, 112, 0.8));
}
.profile:hover {
  color: rgb(36, 36, 36);
}

